
.container {
    width: 402px;
    height: 469px;
    padding: 36px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.title {
    height: 26.99px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4F4F4F;
}

.title2 {
    height: 14.99px;
    margin-top: 1em;
    margin-bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;

    /* Gray 3 */

    color: #828282;
}

.dragAndDropArea {
    width: 338px;
    height: 218.9px;

    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    box-sizing: border-box;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 36px;
}

.img {
    width: 50%;
}

.title3 {
    height: 17.99px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: -0.035em;

    /* Gray 4 */

    color: #BDBDBD;
}
.title4 {
    height: 17.99px;
    margin: 2em 0 2em 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: -0.035em;

    /* Gray 4 */

    color: #BDBDBD;
}

.button {
    width: 101px;
    height: 31.98px;
    padding: 8px 16px 8px 16px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.035em;

    color: #FFFFFF;

    /* Blue 1 */

    background: #2F80ED;
    border-radius: 8px;
}